* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    margin: 1.875rem;
    text-align: center;
}